#menu {
	h1.category-title {
		display: inline-block;
		border-bottom: 1px solid @black;
		margin-bottom: 1em;

		@media @tablet {
			font-size: 1.5em;
		}
	}

	.btn {
		margin-bottom: 5px;
	}

	.box	.btn:not(:last-of-type) {
		margin-right: 5px;
	}

	.menu-items {
		.menu-item {
			font-size: 1.5em;

			@media @tablet { font-size: 1em; }

			span.title {
				display: inline-block;
				max-width: 70%;
				// @media (max-width: 1024px) { max-width: 70%; }
			}

			span.price {
				color: @red;
				float: right;
			}

			&:not(:last-of-type) {
				margin-bottom: 1.5em;
			}
		}
	}
}